*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px / 10px/16px = 62.5%;
	scroll-behavior: smooth;
}

body {
	// background-color: $black;
	background-color: hsl($coolor-black);
	color: hsl($coolor-cream);
	// background-color: hsl($coolor-cream);
	font-family: 'Pixel', $font-family-sans-serif;
	overflow-x: hidden;
}
