/*********************/
// Burger Menu
/*********************/
/* Position and sizing of burger button */
.bm-burger-button {
	position: absolute;
	width: 3.6rem;
	height: 3rem;
	// right: 36px;
	// top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: $blue;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 2.4rem;
	width: 2.4rem;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	position: fixed;
	height: 100vh;
}

/* General sidebar styles */
.bm-menu {
	background: #373a47;
	padding: 2.5em 1.5em 0;
	// padding: 1em 0.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
	font-size: 1.5rem;
	color: hsl($coolor-cream);
	// font-weight: 600;
	// font-family: $title-font;
	letter-spacing: 1px;
	text-shadow: 0.15rem 0.15rem hsl($coolor-blue);
}

.bm-item:hover {
	cursor: pointer;
	// color: $blue;
	color: hsl($coolor-blue);
	text-shadow: 0.1rem 0.1rem hsl($coolor-cream);
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

/*********************/
// Burger Menu 3
/*********************/
.nav-icon-5 {
	width: 3.5rem;
	height: 3rem;
	margin: 1rem;
	position: relative;
	cursor: pointer;
	display: inline-block;
}
.nav-icon-5 span {
	background-color: #fff;
	position: absolute;
	border-radius: 2px;
	transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
	width: 100%;
	height: 4px;
	transition-duration: 500ms;
}
.nav-icon-5 span:nth-child(1) {
	top: 0px;
	left: 0px;
}
.nav-icon-5 span:nth-child(2) {
	top: 1.3rem;
	left: 0px;
	opacity: 1;
}
.nav-icon-5 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
}
// .nav-icon-5:not(.open):hover span:nth-child(1) {
// 	transform: rotate(-3deg) scaleY(1.1);
// }
// .nav-icon-5:not(.open):hover span:nth-child(2) {
// 	transform: rotate(3deg) scaleY(1.1);
// }
// .nav-icon-5:not(.open):hover span:nth-child(3) {
// 	transform: rotate(-4deg) scaleY(1.1);
// }
.nav-icon-5.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 1.3rem;
}
.nav-icon-5.open span:nth-child(2) {
	opacity: 0;
}
.nav-icon-5.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 1.3rem;
}

/*********************/
// Menu Links
/*********************/
.menu-links {
	opacity: 0;
	overflow-y: hidden;
	padding: 15rem 3rem;
	position: fixed;
	inset: 0 35% 0 0;
	background-color: hsl($coolor-blue);
	backdrop-filter: blur(100rem);
	transform: translateX(-100%);
	z-index: 700;

	display: grid;
	grid-template-rows: repeat(9, min-content);
	justify-content: flex-start;
	row-gap: 1.5rem;
}
.menu-links-open {
	transform: translateX(0%);
	opacity: 0.8;
}

.menu-links * {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2rem;
	color: $white;
	position: relative;
}

.social-icons {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	font-size: 1.5rem;
}

.icon:hover {
	cursor: pointer;
}

.os-icon {
	aspect-ratio: 1;
	height: 2.6rem;
	width: 2.66rem;
}

.connectButton {
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 0.2rem;
	border: 0.1rem solid hsl($coolor-purple);
	font-weight: 700;
	padding: 1rem;
	border-radius: 2rem;
	overflow: hidden;
	color: hsl($coolor-blue);
	letter-spacing: 1px;
}

/*********************/
// Mint Button
/*********************/
// .btn {
// 	border-radius: 5rem;
// 	// width: 8rem;
// 	width: 40vw;
// 	height: 8vh;
// 	font-size: 1.1rem;
// 	text-align: center;
// }

#modal-button {
	margin-block: 10rem;
	border-radius: 2rem;
	// width: 8rem;
	width: 50vw;
	height: 8vh;
	font-size: 1.5rem;
	text-align: center;
	background-size: 200%;
	border-color: hsl($coolor-green);
	color: hsl($coolor-cream);
	background: linear-gradient(to right, hsl($coolor-black), hsl($coolor-green));
	text-transform: uppercase;

	animation: changeGradient 3s ease-in-out infinite;
}

#modal-button:hover,
#modal-button:focus {
	// color: hsl($coolor-purple);
	background-color: hsl($coolor-green);
	// border-color: hsl($coolor-cream);
	border: .25rem solid hsl($coolor-cream);
}

@keyframes changeGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*********************/
// Mint Modal
/**********************/
.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
	transition: opacity 400ms ease-in-out;
}

.modal-background {
	display: flex;
	justify-content: center;
}

.selection-div .btn {
	width: 20vw;
	margin: 1rem;
	font-size: 2rem;
}

.extra-buttons .btn {
	width: 40vw;
	margin: 1rem;
	font-size: 2rem;
}

.mint-div + button {
	width: 40vw;
	font-size: 2rem;
}

/**********************/
// Media Queries
/**********************/

// iPad to Desktop Display
@media (min-width: 48.75rem) {
	.mobile-menu {
		display: none;
	}

	.navbar {
		position: fixed;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}

	.primary-nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		column-gap: 1rem;
	}

	.bm-item {
		text-decoration: none;
		font-size: 1.2rem;
	}

	.social-icons {
		flex-direction: row;
		align-items: center;
		gap: 2rem;
	}

	a {
		color: white;
	}

	#discord,
	#twitter {
		font-size: 2rem;
	}

	.connectButton {
		color: hsl($coolor-cream);
		font-size: 1.2rem;
	}
	.os-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (min-width: 60rem) {
	.mobile-menu {
		display: none;
	}

	.navbar {
		position: fixed;
		display: grid;
		// grid-template-columns: 50vw 1fr;
		grid-template-columns: 40vw 1fr;
		// background-color: hsl($coolor-purple);
	}

	.primary-nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		column-gap: 1rem;
	}

	.bm-item {
		text-decoration: none;
		font-size: clamp(1.2rem, 1.5vw, 1.8rem);
	}

	.social-icons {
		flex-direction: row;
		align-items: center;
		gap: 2rem;
	}

	a {
		color: white;
	}

	#discord,
	#twitter {
		font-size: 2rem;
	}

	.connectButton {
		color: hsl($coolor-cream);
	}
	.os-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
