/*********************/
// Nav Bar
/*********************/
.navbar {
	width: 100vw;
	padding: 1.5rem;
	position: absolute;
	z-index: 200;
	display: flex;
	justify-content: space-between;
}

.nav-title {
	display: flex;

	& h2 {
		font-size: 2.3rem;
		letter-spacing: 0.3rem;
		align-self: center;
		text-shadow: 0.2rem 0.2rem $blue;
	}
}

.primary-nav {
	display: none;
}
