/*********************/
// Landing Page
/*********************/
.banner {
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	text-align: center;
	font-size: 1.3rem;
}

img {
	width: 80%;
	height: fit-content;
	display: block;
}

.discord {
	border-radius: 0.2rem;
	border: 0.1rem solid $blue;
	font-weight: 700;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-top: 2rem;

	&:hover {
		background-color: $gray-900;
		cursor: pointer;
	}

	& a {
		color: $white;
		text-decoration: none;
	}
}

/*********************/
// Mint Page
/*********************/
#kaiju {
	display: block;
	margin: 0 auto;
}

/*********************/
// Roadmap Page
/*********************/
.roadmap {
	height: 100vh;

	display: grid;
	grid-template-rows: auto-fit, minmax(300px, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 0 1rem;
}

.item-2,
.item-4 {
	align-self: center;
}

.item-1-content,
.item-2-content,
.item-3-content,
.item-4-content,
.item-5-content {
	border: 1px solid $gray-800;
	border-radius: 5px;
	padding: 0.6rem;

	&:hover {
		box-shadow: 0rem 0.05rem 0.1rem $teal;
		color: $teal;
	}
}

/*********************/
// Team Page
/*********************/
.team {
	width: 95vw;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: 1rem;
	justify-items: center;

	&-member {
		// height: 100
		width: 100%;
		border-radius: 1rem;
		border: 0.2rem solid $blue;
		overflow: hidden;

		&-frame {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}
}
