/*********************/
// Landing Page
/*********************/
.banner {
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	text-align: center;
	font-size: 1.3rem;
}

img {
	width: 80%;
	height: fit-content;
	display: block;
}

/*********************/
// Mint Page
/*********************/
#kaiju {
	display: block;
	margin: 0 auto;
}

/*********************/
// Roadmap Page
/*********************/
.roadmap {
	height: 100vh;

	display: grid;
	grid-template-rows: auto-fit, minmax(300px, 1fr);
	grid-template-columns: repeat(2, 1fr);
}

.item-2,
.item-4 {
	align-self: center;
}

/*********************/
// Team Page
/*********************/
.team {
	width: 100vw;
	border: 1.5rem solid salmon;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2rem;
	justify-items: center;

	&-member {
		// height: 100
		width: 100%;
		border-radius: 1rem;
		border: 1rem solid yellowgreen;

		&-frame {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}
}
