/*********************/
// Landing Page
/*********************/
.banner {
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	text-align: center;
	font-size: 1.3rem;
}

img {
	width: 80%;
	height: fit-content;
	display: block;
}

.discord {
	text-decoration: none;
	border-radius: 0.2rem;
	border: 0.1rem solid $blue;
	font-weight: 700;
	padding: 1rem;
	position: relative;
	border-radius: 0.5rem;
	margin-top: 2rem;
	overflow: hidden;
}

.discord:hover {
	color: transparent;
	transition: all 2.5s;
}

.discord::before {
	content: 'GET PUMPED';
	color: $white;
	font-size: 1.5rem;
	display: grid;
	place-content: center;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	// z-index: -1;
	transform: translateY(-100%);
	transition: all 1s;
}

.discord:hover::before {
	transform: translateY(0);
	cursor: pointer;
}

/*********************/
// Mint Page
/*********************/
#kaiju {
	display: block;
	margin: 0 auto;
}

/*********************/
// Mint Modal Page
/*********************/
.mint-modal {
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height: 75%;
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1.5rem;
	background-color: black;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.mint-title {
	color: black;
	text-align: center;
	font-size: 5rem;
}

.mint-div {
	font-size: 4rem;
	color: lightgreen;
	text-align: center;
}

/*********************/
// Roadmap Page
/*********************/
.roadmap {
	height: 100vh;

	display: grid;
	grid-template-rows: auto-fit, minmax(300px, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 0 1rem;
}

.item-2,
.item-4 {
	align-self: center;
}

.item-1-content,
.item-2-content,
.item-3-content,
.item-4-content,
.item-5-content {
	border: 1px solid $gray-800;
	border-radius: 5px;
	padding: 0.6rem;

	&:hover {
		box-shadow: 0rem 0.05rem 0.1rem $teal;
		color: $teal;
	}
}

/*********************/
// Team Page
/*********************/
.team {
	width: 100vw;
	padding: 5rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;

	&-member {
		// height: 100
		width: 100%;
		border-radius: 1rem;
		border: 0.2rem solid $blue;
		overflow: hidden;

		&-frame {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}
}
