/*********************/
// Landing Page
/*********************/
.banner {
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1rem 2rem;
	text-align: center;
	font-size: 1.3rem;

	margin-bottom: 20vh;
}

img {
	width: 80%;
	height: fit-content;
	display: block;
}

#lore {
	margin-top: 20vh;
	font-size: clamp(1.2rem, 2.5vw, 2rem);
	text-shadow: 0.1rem 0.1rem hsl($coolor-blue);
}

.discord-button {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: hsl($coolor-cream);
	border-radius: 0.2rem;
	border: 0.1rem solid hsl($coolor-purple);
	background: linear-gradient(
		to right,
		hsl($coolor-black),
		hsl($coolor-purple)
	);
	background-size: 150%;
	padding: 2rem;
	position: relative;
	// border-radius: 0.5rem;
	border-radius: 2rem;
	margin-top: 2rem;
	overflow: hidden;
	letter-spacing: 1px;

	animation: gradientChange 3s ease-in-out infinite;
}

.discord-button::before {
	content: 'GET PUMPED!!!';
	letter-spacing: 1px;
	color: $white;
	font-size: 2rem;
	display: grid;
	place-content: center;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	// z-index: -1;
	z-index: 2;
	transform: translateY(-100%);
	transition: all 0.5s ease;
}

.discord-button:hover,
.discord-button:focus {
	color: transparent;
	transition: all 0.5s;
}

.discord-button:hover::before,
.discord-button:focus::before {
	transform: translateY(0);
	cursor: pointer;
}

/*********************/
// Mint Page
/*********************/
#kaiju {
	display: block;
	margin: 0 auto;
}

/*********************/
// Mint Modal Page
/*********************/

.mint-title {
	color: black;
	text-align: center;
	font-size: 5rem;
}

.mint-div {
	font-size: 4rem;
	color: lightgreen;
	text-align: center;
}

/*********************/
// Hunkz Page
/*********************/

.hunkz-wrapper {
	grid-column: 2;
	width: 100%;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
}

.hunkz-title {
	font-size: 3rem;
	text-shadow: 0.2rem 0.2rem hsl($coolor-blue);
}

.hunkz-card {
	grid-column: 2;
	width: 90%;
	// height: 50rem;
}

.hunkz-type {
	display: none;
}

.hunkz-card p {
	font-size: 1.4rem;
	text-transform: uppercase;
	text-shadow: 0.15rem 0.15rem hsl($coolor-blue);
}

.hunkz-img {
	margin-bottom: 2rem;
	& img {
		width: 100%;
		height: auto;
	}
}

.hunkz-selector {
	grid-column: 2;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}

.hunkz-button {
	border-radius: 50%;
	aspect-ratio: 1;
	border: none;
	background-color: hsl($coolor-blue);
	text-shadow: 0.1rem 0.1rem $white;
	height: 5rem;

	&:hover,
	:focus {
		outline: 0.1rem solid hsl($coolor-cream);
	}
}

.active-class {
	background: hsl($coolor-cream);
}

/*********************/
// Roadmap Page
/*********************/
.roadmap {
	padding: 0 1rem;

	display: grid;
	gap: 2rem;
}

.roadmap-item {
	height: 20rem;
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

.item-2,
.item-4 {
	align-self: center;
}

.item-1-content,
.item-2-content,
.item-3-content,
.item-4-content,
.item-5-content {
	border: 1px solid $gray-800;
	border-radius: 5px;
	padding: 0.6rem;

	h4 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.4rem;
	}

	&:hover,
	:focus {
		box-shadow: 0rem 0.05rem 0.1rem $teal;
		color: $teal;
	}
}

/*********************/
// Team Page
/*********************/
.team {
	width: 100vw;
	padding: 5rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;

	&-member {
		width: 100%;
		border-radius: 1rem;
		border: 0.2rem solid hsl($coolor-purple);
		overflow: hidden;

		&-frame {
			width: 100%;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

.dox {
	padding: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	h3 {
		font-size: 1.7rem;
	}

	.img {
		height: 2rem;
		width: 2rem;
	}
}

/*********************/
// FAQ
/*********************/
.faq-page {
	padding: 1rem;

	h1 {
		margin-bottom: 2rem;
		text-align: center;
		text-shadow: 0.2rem 0.2rem hsl($coolor-blue);
	}
}

.accordion {
	width: 95vw;
}

.item {
	background-color: hsl($coolor-blue);
	border: 0.2rem solid hsl($coolor-purple);
	border-radius: 1rem;
	margin: 3rem;
	padding: 2rem;
}

.item-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-title span {
	font-size: 3rem;
}

.item-title:hover,
.item-title:focus {
	cursor: pointer;
}

.item-title span:hover{
	color: hsl($coolor-purple);
}

.content {
	font-size: 1.5rem;
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
	color: hsl($coolor-black);
}

.show {
	height: auto;
	max-height: 9999px;
	transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.question-1,
.question-2,
.question-3,
.question-4,
.question-5 {
	background-color: $teal;
	color: $white;
	cursor: pointer;
	padding: 1.5rem;
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.5s;
}

.active,
.question-1:hover,
.question-1:focus,
.question-2:hover,
.question-2:focus,
.question-3:hover,
.question-3:focus,
.question-4:hover,
.question-4:focus,
.question-5:hover .question-5:focus {
	background-color: hsl($coolor-blue);
}

.panel {
	padding: 0 1.5rem;
	background-color: $gray-800;
	display: none;
	overflow: hidden;
}

.reveal {
	display: block;
}

/*********************/
// Media Queries
/*********************/

// ******* EDIT MEDIA QUERIES SO THAT REDUNDANT INFO IS REMOVED *******

@media (min-width: 48.75rem) {
	#lore {
		margin-top: 20vh;
		font-size: clamp(2rem, 2.1vw, 2.5rem);
		text-shadow: 0.2rem 0.2rem hsl($coolor-blue);
		line-height: 1.7;
	}
	.hunkz-wrapper {
		width: 80vw;
		margin: 0 auto;
		display: grid;
		grid-template-rows: repeat(2, min-content);
		grid-template-columns: repeat(2, 1fr);
		row-gap: 3rem;
	}

	.hunkz-title {
		grid-column: span 2;
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 5rem;
		letter-spacing: 1px;
	}

	.hunkz-card {
		width: minmax(50rem, 1fr);
		grid-column: 1;
	}

	.hunkz-img {
		width: 100%;
	}

	.hunkz-img img {
		width: 100%;
		transition: 0.5s;
	}

	.hunkz-card p {
		font-size: 1.5rem;
		letter-spacing: 1px;
		padding: 0.5rem;
	}

	.hunkz-selector {
		grid-column: 2;
		height: 100%;
		grid-template-columns: auto;
		grid-template-rows: repeat(5, 1fr);
	}

	.hunkz-button {
		font-size: 3rem;
		border-radius: 2rem;
		aspect-ratio: 0;
		border: none;
		background: none;
		color: hsl($coolor-blue);
		height: auto;

		&:hover,
		:focus {
			outline: 0.1rem solid hsl($coolor-cream);
			color: hsl($coolor-cream);
			text-shadow: 0.2rem 0.2rem hsl($coolor-blue);
		}
	}

	.selected-hunk {
		// background-color: hsl($coolor-cream);
		border: 0.2rem solid hsl($coolor-cream);
	}

	.hunkz-type {
		display: inline;
		pointer-events: none;
	}

	.content {
		font-size: 2rem;
	}
}

@media (min-width: 60rem) {
	.nav-title-h2 {
		margin: 1rem;
	}

	#lore {
		margin-top: 20vh;
		font-size: clamp(2rem, 2.1vw, 2.5rem);
		text-shadow: 0.2rem 0.2rem hsl($coolor-blue);
		line-height: 1.7;
	}

	.hunkz-wrapper {
		width: 80vw;
		margin: 0 auto;
		display: grid;
		grid-template-rows: repeat(2, min-content);
		grid-template-columns: repeat(2, 1fr);
		row-gap: 3rem;
	}

	.hunkz-title {
		grid-column: span 2;
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 5rem;
		letter-spacing: 1px;
	}

	.hunkz-card {
		width: minmax(50rem, 1fr);
		grid-column: 1;
	}

	.hunkz-img {
		width: 100%;
	}

	.hunkz-img img {
		width: 100%;
		transition: 0.5s;
	}

	.hunkz-card p {
		font-size: 2rem;
		letter-spacing: 1px;
		padding: 0.5rem;
		line-height: 1.7;
	}

	.hunkz-selector {
		grid-column: 2;
		height: 100%;
		grid-template-columns: auto;
		grid-template-rows: repeat(5, 1fr);
	}

	.hunkz-button {
		font-size: 3rem;
		border-radius: 2rem;
		aspect-ratio: 0;
		border: none;
		background: none;
		color: hsl($coolor-blue);
		height: auto;

		&:hover,
		:focus {
			outline: 0.1rem solid hsl($coolor-cream);
		}
	}

	.selected-hunk {
		background-color: hsl($coolor-cream);
		border: 0.2rem solid hsl($coolor-purple);
	}

	.hunkz-type {
		display: inline;
		pointer-events: none;
	}

	.content {
		font-size: 2rem;
	}

	.bm-item {
		font-size: 1.8rem;
	}

	.social-icons {
		flex-direction: row;
	}
}

.dox {
	align-items: center;

	h3 {
		font-size: 1.2rem;
	}
}

@keyframes gradientChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
