@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Press+Start+2P&display=swap");
/**************************/
/**************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #0a090c;
  color: #e9f1ee;
  font-family: "Pixel", "Press Start 2P", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
}

/*********************/
/*********************/
.navbar {
  width: 100vw;
  padding: 1.5rem;
  position: absolute;
  z-index: 200;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  display: flex;
}
.nav-title h2 {
  font-size: clamp(2rem, 5vw, 3.2rem);
  letter-spacing: 0.3rem;
  align-self: center;
  text-shadow: 0.2rem 0.2rem #1b97de;
  margin: 0.5rem;
}

.primary-nav {
  display: none;
}

/*********************/
/*********************/
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 3.6rem;
  height: 3rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2a9fd6;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2.4rem;
  width: 2.4rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-shadow: 0.15rem 0.15rem #1b97de;
}

.bm-item:hover {
  cursor: pointer;
  color: #1b97de;
  text-shadow: 0.1rem 0.1rem #e9f1ee;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*********************/
/*********************/
.nav-icon-5 {
  width: 3.5rem;
  height: 3rem;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-5 span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.nav-icon-5 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-5 span:nth-child(2) {
  top: 1.3rem;
  left: 0px;
  opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 1.3rem;
}

.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 1.3rem;
}

/*********************/
/*********************/
.menu-links {
  opacity: 0;
  overflow-y: hidden;
  padding: 15rem 3rem;
  position: fixed;
  inset: 0 35% 0 0;
  background-color: #1b97de;
  backdrop-filter: blur(100rem);
  transform: translateX(-100%);
  z-index: 700;
  display: grid;
  grid-template-rows: repeat(9, min-content);
  justify-content: flex-start;
  row-gap: 1.5rem;
}

.menu-links-open {
  transform: translateX(0%);
  opacity: 0.8;
}

.menu-links * {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  position: relative;
}

.icon:hover {
  cursor: pointer;
}

.os-icon {
  aspect-ratio: 1;
  height: 2.6rem;
  width: 2.66rem;
}

.connectButton {
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 0.2rem;
  border: 0.1rem solid #741dd7;
  font-weight: 700;
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  color: #1b97de;
  letter-spacing: 1px;
}

/*********************/
/*********************/
#modal-button {
  margin-block: 10rem;
  border-radius: 2rem;
  width: 50vw;
  height: 8vh;
  font-size: 1.5rem;
  text-align: center;
  background-size: 200%;
  border-color: #0cca4b;
  color: #e9f1ee;
  background: linear-gradient(to right, #0a090c, #0cca4b);
  text-transform: uppercase;
  animation: changeGradient 3s ease-in-out infinite;
}

#modal-button:hover,
#modal-button:focus {
  color: #741dd7;
  background-color: #0cca4b;
  border-color: #741dd7;
}

@keyframes changeGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*********************/
/**********************/
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.modal-background {
  display: flex;
  justify-content: center;
}

.selection-div .btn {
  width: 20vw;
  margin: 1rem;
  font-size: 2rem;
}

.extra-buttons .btn {
  width: 40vw;
  margin: 1rem;
  font-size: 2rem;
}

.mint-div + button {
  width: 40vw;
  font-size: 2rem;
}

/**********************/
/**********************/
@media (min-width: 60rem) {
  .mobile-menu {
    display: none;
  }

  .navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 40vw 1fr;
  }

  .primary-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .bm-item {
    text-decoration: none;
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  a {
    color: white;
  }

  #discord,
#twitter {
    font-size: 2rem;
  }

  .connectButton {
    color: #e9f1ee;
  }

  .os-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*********************/
/*********************/
.banner {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20vh;
}

img {
  width: 80%;
  height: fit-content;
  display: block;
}

#lore {
  margin-top: 20vh;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  text-shadow: 0.1rem 0.1rem #1b97de;
}

.discord-button {
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
  color: #e9f1ee;
  border-radius: 0.2rem;
  border: 0.1rem solid #741dd7;
  background: linear-gradient(to right, #0a090c, #741dd7);
  background-size: 150%;
  padding: 2rem;
  position: relative;
  border-radius: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  letter-spacing: 1px;
  animation: gradientChange 3s ease-in-out infinite;
}

.discord-button::before {
  content: "GET PUMPED!!!";
  letter-spacing: 1px;
  color: #fff;
  font-size: 2rem;
  display: grid;
  place-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 2;
  transform: translateY(-100%);
  transition: all 0.5s ease;
}

.discord-button:hover {
  color: transparent;
  transition: all 0.5s;
}

.discord-button:hover::before,
.discord-button:focus::before {
  transform: translateY(0);
  cursor: pointer;
}

/*********************/
/*********************/
#kaiju {
  display: block;
  margin: 0 auto;
}

/*********************/
/*********************/
.mint-title {
  color: black;
  text-align: center;
  font-size: 5rem;
}

.mint-div {
  font-size: 4rem;
  color: lightgreen;
  text-align: center;
}

/*********************/
/*********************/
.hunkz-wrapper {
  grid-column: 2;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.hunkz-title {
  font-size: 3rem;
  text-shadow: 0.2rem 0.2rem #1b97de;
}

.hunkz-card {
  grid-column: 2;
  width: 90%;
}

.hunkz-type {
  display: none;
}

.hunkz-card p {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-shadow: 0.15rem 0.15rem #1b97de;
}

.hunkz-img {
  margin-bottom: 2rem;
}
.hunkz-img img {
  width: 100%;
  height: auto;
}

.hunkz-selector {
  grid-column: 2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.hunkz-button {
  border-radius: 50%;
  aspect-ratio: 1;
  border: none;
  background-color: #1b97de;
  text-shadow: 0.1rem 0.1rem #fff;
}
.hunkz-button:hover {
  outline: 0.1rem solid #e9f1ee;
}

.active-class {
  background: #e9f1ee;
}

/*********************/
/*********************/
.roadmap {
  padding: 0 1rem;
  display: grid;
  gap: 2rem;
}

.roadmap-item {
  height: 20rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.item-2,
.item-4 {
  align-self: center;
}

.item-1-content,
.item-2-content,
.item-3-content,
.item-4-content,
.item-5-content {
  border: 1px solid #222;
  border-radius: 5px;
  padding: 0.6rem;
}
.item-1-content h4,
.item-2-content h4,
.item-3-content h4,
.item-4-content h4,
.item-5-content h4 {
  font-size: 2.5rem;
}
.item-1-content p,
.item-2-content p,
.item-3-content p,
.item-4-content p,
.item-5-content p {
  font-size: 1.4rem;
}
.item-1-content:hover,
.item-2-content:hover,
.item-3-content:hover,
.item-4-content:hover,
.item-5-content:hover {
  box-shadow: 0rem 0.05rem 0.1rem #20c997;
  color: #20c997;
}

/*********************/
/*********************/
.team {
  width: 100vw;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}
.team-member {
  width: 100%;
  border-radius: 1rem;
  border: 0.2rem solid #741dd7;
  overflow: hidden;
}
.team-member-frame {
  width: 100%;
}
.team-member-frame img {
  width: 100%;
  height: auto;
}

.dox {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dox h3 {
  font-size: 1.7rem;
}
.dox .img {
  height: 2rem;
  width: 2rem;
}

/*********************/
/*********************/
.faq-page {
  padding: 1rem;
}
.faq-page h1 {
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem #1b97de;
}

.accordion {
  width: 95vw;
}

.item {
  background-color: #1b97de;
  border: 0.2rem solid #741dd7;
  border-radius: 1rem;
  margin: 3rem;
  padding: 2rem;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-title span {
  font-size: 3rem;
}

.item-title:hover {
  cursor: pointer;
}

.content {
  font-size: 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  color: #0a090c;
}

.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.question-1,
.question-2,
.question-3,
.question-4,
.question-5 {
  background-color: #20c997;
  color: #fff;
  cursor: pointer;
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.5s;
}

.active,
.question-1:hover,
.question-2:hover,
.question-3:hover,
.question-4:hover,
.question-5:hover {
  background-color: #2a9fd6;
}

.panel {
  padding: 0 1.5rem;
  background-color: #222;
  display: none;
  overflow: hidden;
}

.reveal {
  display: block;
}

/*********************/
/*********************/
@media (min-width: 48.75rem) {
  #lore {
    margin-top: 20vh;
    font-size: clamp(2rem, 2.1vw, 2.5rem);
    text-shadow: 0.2rem 0.2rem #1b97de;
    line-height: 1.7;
  }

  .hunkz-wrapper {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .hunkz-title {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    letter-spacing: 1px;
  }

  .hunkz-card {
    width: minmax(50rem, 1fr);
    grid-column: 1;
  }

  .hunkz-img {
    width: 100%;
  }

  .hunkz-img img {
    width: 100%;
    transition: 0.5s;
  }

  .hunkz-card p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 0.5rem;
  }

  .hunkz-selector {
    grid-column: 2;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
  }

  .hunkz-button {
    font-size: 3rem;
    border-radius: 2rem;
    aspect-ratio: 0;
    border: none;
    background: none;
    color: #2a9fd6;
  }
  .hunkz-button:hover {
    outline: 0.1rem solid #e9f1ee;
    color: #e9f1ee;
    text-shadow: 0.2rem 0.2rem #1b97de;
  }

  .selected-hunk {
    background-color: #e9f1ee;
    border: 0.2rem solid #741dd7;
  }

  .hunkz-type {
    display: inline;
  }

  .content {
    font-size: 2rem;
  }
}
@media (min-width: 60rem) {
  .nav-title-h2 {
    margin: 1rem;
  }

  #lore {
    margin-top: 20vh;
    font-size: clamp(2rem, 2.1vw, 2.5rem);
    text-shadow: 0.2rem 0.2rem #1b97de;
    line-height: 1.7;
  }

  .hunkz-wrapper {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .hunkz-title {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    letter-spacing: 1px;
  }

  .hunkz-card {
    width: minmax(50rem, 1fr);
    grid-column: 1;
  }

  .hunkz-img {
    width: 100%;
  }

  .hunkz-img img {
    width: 100%;
    transition: 0.5s;
  }

  .hunkz-card p {
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 0.5rem;
  }

  .hunkz-selector {
    grid-column: 2;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
  }

  .hunkz-button {
    font-size: 3rem;
    border-radius: 2rem;
    aspect-ratio: 0;
    border: none;
    background: none;
    color: #2a9fd6;
  }
  .hunkz-button:hover {
    outline: 0.1rem solid #e9f1ee;
  }

  .selected-hunk {
    background-color: #e9f1ee;
    border: 0.2rem solid #741dd7;
  }

  .hunkz-type {
    display: inline;
  }

  .content {
    font-size: 2rem;
  }

  .bm-item {
    font-size: 1.8rem;
  }

  .social-icons {
    flex-direction: row;
  }
}
.dox {
  align-items: center;
}
.dox h3 {
  font-size: 1.2rem;
}

@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.active {
  color: #2a9fd6;
  background-color: transparent;
  text-shadow: 0.1rem 0.1rem #fff;
}
